.shadow {
  filter: drop-shadow(0 0px 20px rgba(8, 110, 82, 0.2));

  > .form {
    width: 458px;
    min-height: 475px;
    background-color: #ffffff;
    padding: 51px 62px 43px 89px;
    box-sizing: border-box;
    margin-top: -200px;
    clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);

    > .form-default {
      display: flex;
      flex-direction: column;
      //margin-top: 40px;

      > h1 {
        font-size: 28px;
        font-weight: 500;
        line-height: 0.93;
        margin-top: 35px;
      }

      > div {
        margin-top: 22px;

        > p {
          font-size: 18px;
          line-height: 1.44;
          text-align: center;
          color: #323656;

          > a {
            color: #0bca95;
            text-decoration: underline;
          }
        }
      }

      > .top-default {
        position: relative;
        display: inline-block;
        margin-top: 0;

        > .dot {
          z-index: 1;
          position: absolute;
          transform: rotate(45deg);
          bottom: -3px;
          left: -3px;
        }

        > img {
          z-index: 2;
          position: relative;
        }
      }

      > .default {
        font-size: 21px;
        line-height: 1.24;
        color: #323656;
        font-weight: 400;
        width: 231px;
        margin-top: 22px;
      }

      form {

        > .error {
          > input {
            color: #d90606;
          }

          > span {
            visibility: visible;
          }
        }

        > div {
          margin-top: 36px;
          position: relative;
          display: flex;
          flex-direction: column;

          > label {
            position: absolute;
            background-color: #ffffff;
            font-size: 12.2px;
            line-height: 1.31;
            letter-spacing: 0.4px;
            color: #212121;
            left: 11px;
            top: -13px;
            border: 5px solid #fff;
          }

          > input {
            width: 100%;
            height: 56px;
            outline: none;
            border-radius: 100px;
            border: solid 2px #dfdfdf;
            padding: 15px;
            box-sizing: border-box;
            transition: border-color 0.2s ease;
            font-size: 16.3px;
            font-weight: 500;
            line-height: 1.48;
            letter-spacing: 0.2px;
            color: #16192a;
          }

          > input:focus {
            border-color: #0bca95;
          }

          > input::placeholder {
            opacity: 0.2;
            font-size: 16.3px;
            font-weight: 500;
            line-height: 1.48;
            letter-spacing: 0.2px;
            color: #16192a;
          }

          > span {
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.4px;
            color: #d90606;
            text-align: center;
            margin-top: 5px;
            visibility: hidden;
          }
        }

        > input {
          border: none;
          outline: none;
          margin-top: 19px;
          padding: 20px 75px;
          box-sizing: border-box;
          cursor: pointer;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1.3px;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
          border-radius: 29px;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
          background-color: #0bca95;
          transition: box-shadow 0.3s ease;
        }

        > input:hover {
          box-shadow: 0px 8px 20px 0px rgba(11, 202, 149, 1);
        }
      }
    }

    > .form-error, > .form-success {
      display: flex;
      flex-direction: column;

      > img {
        margin-top: 30px;
      }

      > h1 {
        margin-top: 40px;
        font-size: 28px;
        font-weight: 500;
        line-height: 0.93;
        text-align: center;
      }

      > div {
        margin-top: 22px;
        > p {
          font-size: 18px;
          line-height: 1.44;
          text-align: center;
          color: #323656;

          > a {
            color: #0bca95;
            text-decoration: underline;
          }
        }
      }
    }

    > .form-success {

      > h1 {
        color: #0bca95;
      }
    }

    > .form-error {
      > h1 {
        color: #d90606;
      }
    }
  }
}