#map-section {
  position: relative;
  > .wrapper {
    pointer-events: none;
    padding-top: 145px;
    padding-bottom: 145px;
    z-index: 1;
    position: relative;

    > .shadow {
      filter: drop-shadow(0 0 20px rgba(39, 98, 181, .3));
      > div {
        pointer-events: all;
        display: inline-block;
        padding: 45px 50px 50px 50px;
        background-color: #fff;
        max-width: 367px;
        box-sizing: border-box;
        transition: opacity .2s ease;
        clip-path: polygon(9% 0, 100% 0, 100% 91%, 91% 100%, 0 100%, 0 9%);

        > h1 {
          font-size: 34px;
          font-weight: 500;
          line-height: 1.41;
          color: #16192a;
        }

        > ul {
          margin-top: 40px;

          > li:last-child {
            margin-bottom: 0;
          }

          > li {
            display: flex;
            align-items: flex-start;
            margin-bottom: 30px;

            > div {
              margin-left: 15px;
              margin-top: -7px;

              > h2 {
                font-size: 17px;
                font-weight: 500;
                line-height: 1.76;
                letter-spacing: 0.5px;
                color: #323656;
              }

              > p {
                font-size: 14px;
                line-height: 1.43;
                color: #323656;
              }
            }
          }
        }
      }
    }
  }

  > #map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}