#overlay {
  background-color: rgba(11,202,149, 0.85);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  transition: opacity 0.3s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  > div {
    transform: scale(0);
    transition: transform 0.3s ease;

    > div {
      margin-top: 0;
      position: relative;

      > img {
        position: fixed;
        top: 25px;
        right: 25px;
        cursor: pointer;
      }
    }
  }
}
