header {
  background-color: rgba(0, 0, 0, 0.62);
  >.wrapper {
    padding-top: 21px;
    padding-bottom: 21px;

    > .header-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > #ht-left {
        display: flex;
        align-items: center;

        > a {
          width: 128px;
        }

        > nav {
          margin-left: 70px;

          > ul {
            display: flex;

            > li {
              margin-right: 40px;

              > a {
                font-size: 14px;
                line-height: 2.14;
                letter-spacing: 0.4px;
                padding-bottom: 1px;
                color: #ffffff;
                text-transform: uppercase;
                transition: border-bottom .1s ease;
              }

              > a:hover {
                border-bottom: 2px solid #0bca95;
              }
            }
          }
        }
      }

      > #ht-right {

        > p {
          font-size: 17px;
          line-height: 1.18;
          letter-spacing: 0.5px;
          text-align: right;
          color: #ffffff;

          > span {
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  header {
    > .wrapper {

      > .header-top {
        flex-direction: column;

        > #ht-left {
          flex-direction: column;

          > nav {
            margin-left: 0;
            margin-top: 20px;

            > ul {
              flex-direction: column;
              > li {
                margin-bottom: 10px;
                text-align: center;
                margin-right: 0;
              }
              > li:last-child {
                margin-bottom: 20px;
              }
            }
          }
        }

        > #ht-right {
          > p {
            text-align: center;
          }
        }
      }
    }
  }
}