* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #0bca95;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#map-section {
  position: relative;
}
#map-section > .wrapper {
  pointer-events: none;
  padding-top: 145px;
  padding-bottom: 145px;
  z-index: 1;
  position: relative;
}
#map-section > .wrapper > .shadow {
  filter: drop-shadow(0 0 20px rgba(39, 98, 181, 0.3));
}
#map-section > .wrapper > .shadow > div {
  pointer-events: all;
  display: inline-block;
  padding: 45px 50px 50px 50px;
  background-color: #fff;
  max-width: 367px;
  box-sizing: border-box;
  transition: opacity 0.2s ease;
  clip-path: polygon(9% 0, 100% 0, 100% 91%, 91% 100%, 0 100%, 0 9%);
}
#map-section > .wrapper > .shadow > div > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  color: #16192a;
}
#map-section > .wrapper > .shadow > div > ul {
  margin-top: 40px;
}
#map-section > .wrapper > .shadow > div > ul > li:last-child {
  margin-bottom: 0;
}
#map-section > .wrapper > .shadow > div > ul > li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
#map-section > .wrapper > .shadow > div > ul > li > div {
  margin-left: 15px;
  margin-top: -7px;
}
#map-section > .wrapper > .shadow > div > ul > li > div > h2 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.76;
  letter-spacing: 0.5px;
  color: #323656;
}
#map-section > .wrapper > .shadow > div > ul > li > div > p {
  font-size: 14px;
  line-height: 1.43;
  color: #323656;
}
#map-section > #map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.shadow {
  filter: drop-shadow(0 0px 20px rgba(8, 110, 82, 0.2));
}
.shadow > .form {
  width: 458px;
  min-height: 475px;
  background-color: #ffffff;
  padding: 51px 62px 43px 89px;
  box-sizing: border-box;
  margin-top: -200px;
  clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
}
.shadow > .form > .form-default {
  display: flex;
  flex-direction: column;
}
.shadow > .form > .form-default > h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 0.93;
  margin-top: 35px;
}
.shadow > .form > .form-default > div {
  margin-top: 22px;
}
.shadow > .form > .form-default > div > p {
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #323656;
}
.shadow > .form > .form-default > div > p > a {
  color: #0bca95;
  text-decoration: underline;
}
.shadow > .form > .form-default > .top-default {
  position: relative;
  display: inline-block;
  margin-top: 0;
}
.shadow > .form > .form-default > .top-default > .dot {
  z-index: 1;
  position: absolute;
  transform: rotate(45deg);
  bottom: -3px;
  left: -3px;
}
.shadow > .form > .form-default > .top-default > img {
  z-index: 2;
  position: relative;
}
.shadow > .form > .form-default > .default {
  font-size: 21px;
  line-height: 1.24;
  color: #323656;
  font-weight: 400;
  width: 231px;
  margin-top: 22px;
}
.shadow > .form > .form-default form > .error > input {
  color: #d90606;
}
.shadow > .form > .form-default form > .error > span {
  visibility: visible;
}
.shadow > .form > .form-default form > div {
  margin-top: 36px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.shadow > .form > .form-default form > div > label {
  position: absolute;
  background-color: #ffffff;
  font-size: 12.2px;
  line-height: 1.31;
  letter-spacing: 0.4px;
  color: #212121;
  left: 11px;
  top: -13px;
  border: 5px solid #fff;
}
.shadow > .form > .form-default form > div > input {
  width: 100%;
  height: 56px;
  outline: none;
  border-radius: 100px;
  border: solid 2px #dfdfdf;
  padding: 15px;
  box-sizing: border-box;
  transition: border-color 0.2s ease;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > input:focus {
  border-color: #0bca95;
}
.shadow > .form > .form-default form > div > input::placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow > .form > .form-default form > div > span {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.4px;
  color: #d90606;
  text-align: center;
  margin-top: 5px;
  visibility: hidden;
}
.shadow > .form > .form-default form > input {
  border: none;
  outline: none;
  margin-top: 19px;
  padding: 20px 75px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 29px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  transition: box-shadow 0.3s ease;
}
.shadow > .form > .form-default form > input:hover {
  box-shadow: 0px 8px 20px 0px #0bca95;
}
.shadow > .form > .form-error,
.shadow > .form > .form-success {
  display: flex;
  flex-direction: column;
}
.shadow > .form > .form-error > img,
.shadow > .form > .form-success > img {
  margin-top: 30px;
}
.shadow > .form > .form-error > h1,
.shadow > .form > .form-success > h1 {
  margin-top: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 0.93;
  text-align: center;
}
.shadow > .form > .form-error > div,
.shadow > .form > .form-success > div {
  margin-top: 22px;
}
.shadow > .form > .form-error > div > p,
.shadow > .form > .form-success > div > p {
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: #323656;
}
.shadow > .form > .form-error > div > p > a,
.shadow > .form > .form-success > div > p > a {
  color: #0bca95;
  text-decoration: underline;
}
.shadow > .form > .form-success > h1 {
  color: #0bca95;
}
.shadow > .form > .form-error > h1 {
  color: #d90606;
}
footer {
  background-color: #2f2f2f;
}
footer > .wrapper {
  padding-top: 60px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer > .wrapper > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer > .wrapper > div > nav {
  width: 260px;
  margin-top: 30px;
}
footer > .wrapper > div > nav > ul {
  display: flex;
  flex-wrap: wrap;
}
footer > .wrapper > div > nav > ul > li {
  margin-bottom: 25px;
  width: 50%;
}
footer > .wrapper > div > nav > ul > li > a {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
  transition: border-bottom 0.1s ease;
}
footer > .wrapper > div > nav > ul > li > a:hover {
  border-bottom: 2px solid #0bca95;
}
footer > .wrapper > div > #work {
  margin-top: 30px;
}
footer > .wrapper > div > #work > h1 {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
}
footer > .wrapper > div > #work > ul {
  display: flex;
  margin-top: 7px;
}
footer > .wrapper > div > #work > ul > li:last-child {
  margin-right: 0;
}
footer > .wrapper > div > #work > ul > li {
  margin-right: 50px;
}
footer > .wrapper > div > #work > ul > li > span {
  opacity: 0.3;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
}
footer > .wrapper > div > #work > ul > li > p {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
}
footer > .wrapper > div > #address {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
footer > .wrapper > div > #address > div {
  text-align: right;
}
footer > .wrapper > div > #address > div > span,
footer > .wrapper > div > #address > div > p {
  font-size: 17px;
  line-height: 1.18;
  letter-spacing: 0.5px;
  text-align: right;
  color: #ffffff;
}
footer > .wrapper > div > #address > div > span {
  font-weight: 500;
}
footer > .wrapper > div > #address > a {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 29px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  display: inline-block;
  padding: 20px 40px;
  margin-top: 30px;
  transition: box-shadow 0.3s ease;
}
footer > .wrapper > div > #address > a:hover {
  box-shadow: 0px 8px 20px 0px #0bca95;
}
footer > .wrapper > p {
  opacity: 0.3;
  font-size: 12px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}
@media (max-width: 1040px) {
  footer > .wrapper > div {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  footer > .wrapper > div > #address {
    margin-top: 30px;
    align-items: center;
  }
  footer > .wrapper > div > #address > div {
    text-align: center;
  }
  footer > .wrapper > div > #address > div > p {
    text-align: center;
  }
}
header {
  background-color: rgba(0, 0, 0, 0.62);
}
header > .wrapper {
  padding-top: 21px;
  padding-bottom: 21px;
}
header > .wrapper > .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > .wrapper > .header-top > #ht-left {
  display: flex;
  align-items: center;
}
header > .wrapper > .header-top > #ht-left > a {
  width: 128px;
}
header > .wrapper > .header-top > #ht-left > nav {
  margin-left: 70px;
}
header > .wrapper > .header-top > #ht-left > nav > ul {
  display: flex;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li {
  margin-right: 40px;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li > a {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  padding-bottom: 1px;
  color: #ffffff;
  text-transform: uppercase;
  transition: border-bottom 0.1s ease;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li > a:hover {
  border-bottom: 2px solid #0bca95;
}
header > .wrapper > .header-top > #ht-right > p {
  font-size: 17px;
  line-height: 1.18;
  letter-spacing: 0.5px;
  text-align: right;
  color: #ffffff;
}
header > .wrapper > .header-top > #ht-right > p > span {
  font-weight: 500;
}
@media (max-width: 990px) {
  header > .wrapper > .header-top {
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left {
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left > nav {
    margin-left: 0;
    margin-top: 20px;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul {
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul > li {
    margin-bottom: 10px;
    text-align: center;
    margin-right: 0;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul > li:last-child {
    margin-bottom: 20px;
  }
  header > .wrapper > .header-top > #ht-right > p {
    text-align: center;
  }
}
#services-1 {
  background-color: #2f2f2f;
}
#services-1 > .wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
}
#services-1 > .wrapper > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  text-align: center;
  color: #ffffff;
}
#services-1 > .wrapper > ul {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#services-1 > .wrapper > ul > li {
  width: 360px;
  height: 245px;
  clip-path: polygon(25px 0, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0 100%, 0 25px);
  margin-top: 30px;
}
#services-1 > .wrapper > ul > li > a {
  position: relative;
}
#services-1 > .wrapper > ul > li > a > div {
  width: 360px;
  height: 245px;
}
#services-1 > .wrapper > ul > li > a > .main {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 35px 0;
  box-sizing: border-box;
}
#services-1 > .wrapper > ul > li > a > .main > img {
  filter: brightness(0) invert(1);
  transition: filter 0.2s ease;
}
#services-1 > .wrapper > ul > li > a > .main > h1 {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.24;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
  transition: color 0.2s ease;
}
#services-1 > .wrapper > ul > li > a > .back {
  position: absolute;
  top: 0;
  z-index: 1;
}
#services-1 > .wrapper > ul > li > a > .back > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(11, 202, 149, 0.8);
  transition: background-color 0.2s ease;
}
#services-1 > .wrapper > ul > li > a > .back > img {
  width: 100%;
  height: 100%;
}
#services-1 > .wrapper > ul > li:hover > a > .main > img {
  filter: brightness(1) invert(0);
}
#services-1 > .wrapper > ul > li:hover > a > .main > h1 {
  color: #0bca95;
}
#services-1 > .wrapper > ul > li:hover > a .back > .overlay {
  background-color: rgba(255, 255, 255, 0.8);
}
#services-1 > .wrapper > ul:after {
  content: "";
  width: 360px;
  height: 1px;
}
@media (max-width: 1100px) {
  #main-2 > .wrapper > ul {
    justify-content: space-around;
  }
}
@media (max-width: 770px) {
  #main-2 > .wrapper > ul {
    flex-direction: column;
    align-items: center;
  }
}
#overlay {
  background-color: rgba(11, 202, 149, 0.85);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  transition: opacity 0.3s ease;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
#overlay > div {
  transform: scale(0);
  transition: transform 0.3s ease;
}
#overlay > div > div {
  margin-top: 0;
  position: relative;
}
#overlay > div > div > img {
  position: fixed;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
/*# sourceMappingURL=services.css.map */