#services-1 {
  background-color: #2f2f2f;
}
#services-1 > .wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
}
#services-1 > .wrapper > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  text-align: center;
  color: #ffffff;
}
#services-1 > .wrapper > ul {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#services-1 > .wrapper > ul > li {
  width: 360px;
  height: 245px;
  clip-path: polygon(25px 0, 100% 0, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0 100%, 0 25px);
  margin-top: 30px;
}
#services-1 > .wrapper > ul > li > a {
  position: relative;
}
#services-1 > .wrapper > ul > li > a > div {
  width: 360px;
  height: 245px;
}
#services-1 > .wrapper > ul > li > a > .main {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 35px 0;
  box-sizing: border-box;
}
#services-1 > .wrapper > ul > li > a > .main > img {
  filter: brightness(0) invert(1);
  transition: filter 0.2s ease;
}
#services-1 > .wrapper > ul > li > a > .main > h1 {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.24;
  letter-spacing: 0.6px;
  text-align: center;
  color: #ffffff;
  transition: color 0.2s ease;
}
#services-1 > .wrapper > ul > li > a > .back {
  position: absolute;
  top: 0;
  z-index: 1;
}
#services-1 > .wrapper > ul > li > a > .back > .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(11, 202, 149, 0.8);
  transition: background-color 0.2s ease;
}
#services-1 > .wrapper > ul > li > a > .back > img {
  width: 100%;
  height: 100%;
}
#services-1 > .wrapper > ul > li:hover > a > .main > img {
  filter: brightness(1) invert(0);
}
#services-1 > .wrapper > ul > li:hover > a > .main > h1 {
  color: #0bca95;
}
#services-1 > .wrapper > ul > li:hover > a .back > .overlay {
  background-color: rgba(255, 255, 255, 0.8);
}
#services-1 > .wrapper > ul:after {
  content: "";
  width: 360px;
  height: 1px;
}
@media (max-width: 1100px) {
  #main-2 > .wrapper > ul {
    justify-content: space-around;
  }
}
@media (max-width: 770px) {
  #main-2 > .wrapper > ul {
    flex-direction: column;
    align-items: center;
  }
}
/*# sourceMappingURL=services-section-1.css.map */