* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #0bca95;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#map-section {
  position: relative;
}
#map-section > .wrapper {
  pointer-events: none;
  padding-top: 145px;
  padding-bottom: 145px;
  z-index: 1;
  position: relative;
}
#map-section > .wrapper > .shadow {
  filter: drop-shadow(0 0 20px rgba(39, 98, 181, 0.3));
}
#map-section > .wrapper > .shadow > div {
  pointer-events: all;
  display: inline-block;
  padding: 45px 50px 50px 50px;
  background-color: #fff;
  max-width: 367px;
  box-sizing: border-box;
  transition: opacity 0.2s ease;
  clip-path: polygon(9% 0, 100% 0, 100% 91%, 91% 100%, 0 100%, 0 9%);
}
#map-section > .wrapper > .shadow > div > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  color: #16192a;
}
#map-section > .wrapper > .shadow > div > ul {
  margin-top: 40px;
}
#map-section > .wrapper > .shadow > div > ul > li:last-child {
  margin-bottom: 0;
}
#map-section > .wrapper > .shadow > div > ul > li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
#map-section > .wrapper > .shadow > div > ul > li > div {
  margin-left: 15px;
  margin-top: -7px;
}
#map-section > .wrapper > .shadow > div > ul > li > div > h2 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.76;
  letter-spacing: 0.5px;
  color: #323656;
}
#map-section > .wrapper > .shadow > div > ul > li > div > p {
  font-size: 14px;
  line-height: 1.43;
  color: #323656;
}
#map-section > #map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.shadow {
  filter: drop-shadow(0 0px 20px rgba(8, 110, 82, 0.2));
}
.shadow .form {
  width: 458px;
  min-height: 475px;
  background-color: #ffffff;
  padding: 51px 62px 43px 89px;
  box-sizing: border-box;
  margin-top: -200px;
  clip-path: polygon(40px 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%, 0 40px);
}
.shadow .form > div {
  position: relative;
}
.shadow .form > div > .dot {
  z-index: 1;
  position: absolute;
  transform: rotate(45deg);
  bottom: -3px;
  left: -3px;
}
.shadow .form > div > img {
  z-index: 2;
  position: relative;
}
.shadow .form > h1 {
  font-size: 21px;
  line-height: 1.24;
  color: #323656;
  font-weight: 400;
  width: 231px;
  margin-top: 22px;
}
.shadow .form form > div {
  margin-top: 36px;
  position: relative;
}
.shadow .form form > div > label {
  position: absolute;
  background-color: #ffffff;
  font-size: 12.2px;
  line-height: 1.31;
  letter-spacing: 0.4px;
  color: #212121;
  left: 11px;
  top: -13px;
  border: 5px solid #fff;
}
.shadow .form form > div > input {
  width: 100%;
  height: 56px;
  outline: none;
  border-radius: 100px;
  border: solid 2px #dfdfdf;
  padding: 15px;
  box-sizing: border-box;
}
.shadow .form form > div > input::placeholder {
  opacity: 0.2;
  font-size: 16.3px;
  font-weight: 500;
  line-height: 1.48;
  letter-spacing: 0.2px;
  color: #16192a;
}
.shadow .form form > input {
  border: none;
  outline: none;
  margin-top: 40px;
  padding: 20px 75px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 29px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
}
footer {
  background-color: #2f2f2f;
}
footer > .wrapper {
  padding-top: 60px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer > .wrapper > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer > .wrapper > div > nav {
  width: 260px;
  margin-top: 30px;
}
footer > .wrapper > div > nav > ul {
  display: flex;
  flex-wrap: wrap;
}
footer > .wrapper > div > nav > ul > li {
  margin-bottom: 25px;
  width: 50%;
}
footer > .wrapper > div > nav > ul > li > a {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
  transition: border-bottom 0.1s ease;
}
footer > .wrapper > div > nav > ul > li > a:hover {
  border-bottom: 2px solid #0bca95;
}
footer > .wrapper > div > #work {
  margin-top: 30px;
}
footer > .wrapper > div > #work > h1 {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
}
footer > .wrapper > div > #work > ul {
  display: flex;
  margin-top: 7px;
}
footer > .wrapper > div > #work > ul > li:last-child {
  margin-right: 0;
}
footer > .wrapper > div > #work > ul > li {
  margin-right: 50px;
}
footer > .wrapper > div > #work > ul > li > span {
  opacity: 0.3;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #ffffff;
  text-transform: uppercase;
}
footer > .wrapper > div > #work > ul > li > p {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  color: #ffffff;
}
footer > .wrapper > div > #address {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
footer > .wrapper > div > #address > div {
  text-align: right;
}
footer > .wrapper > div > #address > div > span,
footer > .wrapper > div > #address > div > p {
  font-size: 17px;
  line-height: 1.18;
  letter-spacing: 0.5px;
  text-align: right;
  color: #ffffff;
}
footer > .wrapper > div > #address > div > span {
  font-weight: 500;
}
footer > .wrapper > div > #address > a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 29px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  background-color: #0bca95;
  display: inline-block;
  padding: 20px 40px;
  margin-top: 30px;
}
footer > .wrapper > p {
  opacity: 0.3;
  font-size: 12px;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}
@media (max-width: 1040px) {
  footer > .wrapper > div {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}
/*# sourceMappingURL=header-4.css.map */