#benefits-1 {
  background-color: green;
  > .wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    > h1 {
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 2.2px;
      color: #ffffff;
    }

    > p {
      font-size: 17px;
      text-align: center;
      color: #ffffff;
      max-width: 650px;
      margin-top: 30px;
    }

    > a {
      border-radius: 29px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
      background-color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1.3px;
      text-align: center;
      color: #323656;
      padding: 20px 30px;
      margin-top: 50px;
      transition: box-shadow 0.3s ease;
      cursor: pointer;
      text-transform: uppercase;
    }

    > a:hover {
      box-shadow: 0px 8px 20px 0px rgba(255,255,255,1);
    }
  }
}