#benefit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 202, 149, 0.85);
}
#benefit-overlay > div {
  background-color: #fff;
  clip-path: polygon(55px 0, 100% 0, 100% calc(100% - 55px), calc(100% - 55px) 100%, 0 100%, 0 55px);
  width: 605px;
  padding: 60px 110px 45px 110px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
/*# sourceMappingURL=benefit-overlay.css.map */