#benefits-2 {

  > .wrapper {
    padding-top: 100px;
    padding-bottom: 100px;

    > ul:after {
      content: "";
      width: 360px;
      height: 1px;
    }

    > ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      > li {
        filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.22));
        width: 360px;
        margin-bottom: 100px;

        > .avatar-container {
          position: relative;
          display: flex;
          justify-content: center;
          margin-bottom: -68px;
          z-index: 1;

          > div {
            width: 121px;
            height: 121px;
            background-color: #6d6d6d;
            border: 5px solid #0bca95;
            border-radius: 50%;
            overflow: hidden;
            z-index: 1;

            > img {
              width: 100%;
              height: 100%;
            }
          }

          > img {
            position: absolute;
            bottom: 0;
            left: 50px;
            z-index: 0;
          }
        }

        > .benefit-container {
          width: 100%;
          padding: 96px 25px 60px 25px;
          box-sizing: border-box;
          background-color: #6d6d6d;
          clip-path: polygon(55px 0, 100% 0, 100% calc(100% - 55px), calc(100% - 55px) 100%, 0 100%, 0 55px);
          display: flex;
          flex-direction: column;
          align-items: center;

          > h1 {
            font-size: 21px;
            font-weight: 500;
            line-height: 1.19;
            text-align: center;
            color: #ffffff;
          }

          > .stars {
            display: flex;
            margin-top: 35px;
          }

          > p {
            margin-top: 28px;
            font-size: 17px;
            line-height: 1.53;
            text-align: center;
            color: #ffffff;
          }

          > .info {
            margin-top: 35px;
            display: flex;
            justify-content: space-between;
            width: 100%;

            > span {
              font-size: 17px;
              font-weight: 500;
              line-height: 1.76;
              text-align: center;
              color: #ffffff;
            }

            > p {
              font-size: 17px;
              font-weight: 300;
              line-height: 1.76;
              text-align: center;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}