#about-2 > .wrapper > h1 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #323656;
}
#about-2 > .wrapper > h1 > span {
  color: #0bca95;
}
/*# sourceMappingURL=about-section-2.css.map */