#about-1 {
  background-color: rgba(11,202,149,0.2);

  > .wrapper {
    padding-top: 155px;
    padding-bottom: 175px;
    > h1 {

      font-size: 136px;
      font-weight: 500;
      line-height: 0.88;
      text-align: center;
      color: #3bd4aa;
    }
  }
}