#about-3 {
  display: flex;
  flex-wrap: wrap;
  > img, > a {
    width: 33.33333333333333333333333%;
    height: 390px;
  }

  > a {

    > div {
      height: 100%;
      background-color: #0bca95;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      > h1 {
        font-size: 38px;
        font-weight: 500;
        letter-spacing: 1.1px;
        text-align: center;
        color: #ffffff;
        z-index: 1;
      }

      > div {
        height: 60px;
        width: 60px;
        background-color: #0bca95;
        position: absolute;
        transform: rotate(45deg);
      }

      > .l {
        left: -15px;
      }

      > .r {
        right: -15px;
      }

      > .t {
        top: -15px;
      }
    }
  }
}