header {
  background-color: rgba(0, 0, 0, 0.62);
}
header > .wrapper {
  padding-top: 21px;
  padding-bottom: 21px;
}
header > .wrapper > .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > .wrapper > .header-top > #ht-left {
  display: flex;
  align-items: center;
}
header > .wrapper > .header-top > #ht-left > nav {
  margin-left: 70px;
}
header > .wrapper > .header-top > #ht-left > nav > ul {
  display: flex;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li {
  margin-right: 40px;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li > a {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.4px;
  padding-bottom: 1px;
  color: #ffffff;
  text-transform: uppercase;
  transition: border-bottom 0.1s ease;
}
header > .wrapper > .header-top > #ht-left > nav > ul > li > a:hover {
  border-bottom: 2px solid #0bca95;
}
header > .wrapper > .header-top > #ht-right > p {
  font-size: 17px;
  line-height: 1.18;
  letter-spacing: 0.5px;
  text-align: right;
  color: #ffffff;
}
header > .wrapper > .header-top > #ht-right > p > span {
  font-weight: 500;
}
@media (max-width: 990px) {
  header > .wrapper > .header-top {
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left {
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left > nav {
    margin-left: 0;
    margin-top: 20px;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul {
    flex-direction: column;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul > li {
    margin-bottom: 10px;
    text-align: center;
    margin-right: 0;
  }
  header > .wrapper > .header-top > #ht-left > nav > ul > li:last-child {
    margin-bottom: 20px;
  }
  header > .wrapper > .header-top > #ht-right > p {
    text-align: center;
  }
}
/*# sourceMappingURL=header-3.css.map */