#main-7 {
  .wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1010px;

    > .top {
      display: flex;
      flex-direction: column;
      align-items: center;

      > h1 {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.41;
        text-align: center;
        color: #16192a;
        width: 500px;
      }

      > ul {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;

        > li {
          width: 25%;
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          justify-content: center;

          > span {
            margin-left: 19px;
          }
        }

      }

      > a {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.5px;
        text-align: center;
        color: #ffffff;
        border-radius: 29px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
        background-color: #0bca95;
        padding: 21px 37px;
        display: inline-block;
        text-transform: uppercase;
        margin-top: 42px;
        transition: box-shadow 0.3s ease;
      }

      > a:hover {
        box-shadow: 0px 8px 20px 0px  rgba(11, 202, 149, 1);
      }
    }

    > .bottom {
      margin-top: 100px;

      > h1 {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.41;
        text-align: center;
        color: #16192a;
      }

      > ul {
        margin-top: 65px;

        > li.active-tab {
          > div {
            > .tab-head:after {
              content: "-";
            }
          }
        }

        > li {
          filter: drop-shadow(0 0 20px rgba(39, 98, 181, .3));
          margin-bottom: 5px;
          > div {
            clip-path: polygon(20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0 20px);
            padding: 20px 30px 20px 35px;
            background-color: #fff;
            > .tab-head {
              display: flex;
              justify-content: space-between;
              cursor: pointer;

              > h2 {
                font-size: 17px;
                font-weight: 500;
                line-height: 1.18;
                letter-spacing: 0.5px;
                color: #323656;
              }
            }

            > .tab-head:after {
              content: "+";
              font-size: 22px;
              color: #0bca95;
            }

            > .content {
              font-size: 14px;
              line-height: 1.43;
              color: #323656;
              display: none;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}