#main-5 {
  > .wrapper {
    padding-top: 110px;
    padding-bottom: 145px;
    display: flex;
    justify-content: space-between;

    > .left {
      max-width: 656px;
      margin-top: -16px;

      > h1 {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.41;
        color: #16192a;
        margin-top: 35px;
      }

      > p {
        font-size: 17px;
        line-height: 1.76;
        color: #323656;
        margin-top: 25px;
        > a {
          color: #0bca95;
          text-decoration: underline;
        }
      }
    }

    > .right {
      filter: drop-shadow(0 0 20px rgba(39, 98, 181, .3));

      > div {
        padding: 40px 50px;
        box-sizing: border-box;
        width: 458px;
        clip-path: polygon(30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0 30px);
        background: #fff;

        > div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 15px;

          > h1 {
            font-size: 34px;
            font-weight: 500;
            line-height: 1.41;
            color: #16192a;
          }
        }

        > p {
          display: flex;
          justify-content: space-between;

          > span {
            font-size: 17px;
            line-height: 2.94;
            color: #323656;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  #main-5 {
    .wrapper {
      flex-direction: column;
      align-items: center;

      > .left {
        margin-top: 0;
      }

      > .right {
        margin-top: 50px;
      }
    }
  }
}