#main-4 {
  > ul {
    display: flex;

    > li {
      width: 25%;
      height: 294px;
      position: relative;

      > img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
      }

      > div:hover {
        opacity: 1;
      }

      > div {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.2s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 85px 0 75px 0;
        box-sizing: border-box;
        justify-content: space-between;

        > h1 {
          width: 210px;
          font-size: 21px;
          font-weight: 500;
          line-height: 1.24;
          text-align: center;
          color: #ffffff;
        }

        > a {
          border-radius: 29px;
          border: solid 1px #ffffff;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 1.5px;
          text-align: center;
          color: #ffffff;
          padding: 15px 29px;
          display: inline-block;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (max-width: 730px) {
  #main-4 {
    > ul {
      flex-wrap: wrap;

      > li {
        width: 50%;
      }
    }
  }
}