#main-6 {
  background-image: url("../../img/main/benefits-background.jpg");
  background-size: cover;
  > .wrapper {
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      font-size: 34px;
      font-weight: 500;
      line-height: 1.41;
      text-align: center;
      color: #ffffff;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
      width: 100%;

      > img {
        cursor: pointer;
      }

      > .active {
        display: flex;
      }

      > div {
        max-width: 760px;
        display: none;
        flex-direction: column;
        align-items: center;
        transition: transform 0.6s ease;
        > .stars {
          display: flex;
          margin-bottom: 33px;
        }

        > h2 {
          font-size: 17px;
          font-weight: 500;
          line-height: 1.76;
          text-align: center;
          color: #ffffff;
          margin-bottom: 20px;
        }

        > p {
          font-size: 17px;
          line-height: 1.76;
          text-align: center;
          color: #ffffff;
          margin-bottom: 20px;
        }

        > .name-date {
          display: flex;

          > span {
            font-size: 17px;
            font-weight: 500;
            line-height: 1.76;
            text-align: center;
            color: #ffffff;
            margin-right: 25px;
          }

          > p {
            font-size: 17px;
            font-weight: 500;
            line-height: 1.76;
            text-align: center;
            color: #ffffff;
          }
        }
      }
    }

    > a {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1.5px;
      text-align: center;
      color: #ffffff;
      border-radius: 29px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
      background-color: #0bca95;
      padding: 20px 45px;
      text-transform: uppercase;
      display: inline-block;
      margin-top: 50px;
      transition: box-shadow 0.3s ease;
    }

    > a:hover {
      box-shadow: 0px 8px 20px 0px  rgba(11, 202, 149, 1);
    }
  }
}