#main-5 > .wrapper {
  padding: 110px 0 145px 0;
}
#main-5 > .wrapper > .left > h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.41;
  color: #16192a;
}
#main-5 > .wrapper > .left > p {
  font-size: 17px;
  line-height: 1.76;
  color: #323656;
}
#main-5 > .wrapper > .left > p > a {
  color: #0bca95;
  text-decoration: underline;
}
/*# sourceMappingURL=main-section-5.css.map */